<div class="container">
  <div class="row">
    <div class="container text-center">
      <h1 style="text-align:center">{{title}}</h1>
    </div>
    <div class="search">
      <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Search Company </mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (input)="handleChange($event)">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div class="content">
    <br />
    <app-table-pagination></app-table-pagination>
    <br />
    <app-profile></app-profile>
    <br />
  </div>
</div>