<div style="margin: 42px;">
    <div [ngSwitch]="load">
        <div *ngSwitchCase="true">
            <div id="app">
                <div id="wrap">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="false">
            <div *ngIf="show">
                <div style="margin-left: 5px;"><h1>{{profileData.name}}</h1></div>
                <mat-grid-list cols="1" rowHeight="370px">
                    <mat-grid-tile>
                        <span class="left-align-forced">
                            <img alt="logo" width="100%" src="../../assets/images/not-found" />
                        </span>
                    </mat-grid-tile>
                </mat-grid-list>
                <div>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Stock Info
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-grid-list cols="2" rowHeight="42px">
                            <mat-grid-tile><span class="left-align-forced">Open price of the day</span></mat-grid-tile>
                            <mat-grid-tile><span class="left-align-forced">{{stockData.open}}</span></mat-grid-tile>
                        </mat-grid-list>
                        <mat-divider></mat-divider>
                        <mat-grid-list cols="2" rowHeight="42px">
                            <mat-grid-tile><span class="left-align-forced">High price of the day</span></mat-grid-tile>
                            <mat-grid-tile><span class="left-align-forced">{{stockData.high}}</span></mat-grid-tile>
                        </mat-grid-list>
                        <mat-divider></mat-divider>
                        <mat-grid-list cols="2" rowHeight="42px">
                            <mat-grid-tile><span class="left-align-forced">Low price of the day</span></mat-grid-tile>
                            <mat-grid-tile><span class="left-align-forced">{{stockData.low}}</span></mat-grid-tile>
                        </mat-grid-list>
                        <mat-divider></mat-divider>
                        <mat-grid-list cols="2" rowHeight="42px">
                            <mat-grid-tile><span class="left-align-forced">Close price</span></mat-grid-tile>
                            <mat-grid-tile><span class="left-align-forced">{{stockData.close}}</span></mat-grid-tile>
                        </mat-grid-list>
                        <mat-divider></mat-divider>
                        <mat-grid-list cols="2" rowHeight="42px">
                            <mat-grid-tile><span class="left-align-forced">Previous close price</span></mat-grid-tile>
                            <mat-grid-tile><span class="left-align-forced">{{stockData.preMarket}}</span></mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel>                
                </div>
            </div>        
        </div>
    </div>
</div>